@charset "UTF-8";
@font-face {
      src : url("../font/BMJUA.ttf");
      font-family: "jua"
}

.detailmenu {
	width: 100%;
	height: 60px;
	text-align: left;
	background-color: #46465a;
	padding-top: 20px;
}

.detailmenu a {
	font-size: 35px;
	font-family: 'jua';
	color: #ffffff;
	position: inline-block;
	margin-top: 10px;;
	padding-left: 18%;
}